# EDA of Lyon Airbnb data

In [2]:
calendar = pd.read_csv('data/lyon/calendar.csv')
listings = pd.read_csv('data/lyon/listings.csv')
neighbourhoods = pd.read_csv('data/lyon/neighbourhoods.csv')
reviews = pd.read_csv('data/lyon/reviews.csv')

In [3]:
datasets = [calendar, listings, reviews]

for dataset in datasets:
    display(dataset.head())

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,1115943,2020-10-24,f,$50.00,$50.00,1,1125
1,1105134,2020-10-24,f,$45.00,$45.00,7,360
2,1105134,2020-10-25,f,$45.00,$45.00,7,360
3,1105134,2020-10-26,f,$45.00,$45.00,7,360
4,1105134,2020-10-27,f,$45.00,$45.00,7,360

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,56766,Amazing duplex-terrace in old Lyon,269557,Isabelle,NaN,5e Arrondissement,45.76321,4.82911,Entire home/apt,250,14,55,2018-09-04,0.45,1,195
1,71455,La Loge des Avocats - Vieux Lyon,365968,Daphné Et Vincent,NaN,5e Arrondissement,45.76206,4.82751,Entire home/apt,80,2,7,2018-11-18,0.12,1,177
2,77104,Nice Flat in the center of Lyon,411285,Clementine,NaN,1er Arrondissement,45.76962,4.82750,Entire home/apt,70,2,20,2020-06-30,0.63,1,307
3,134539,"Centre of old town,home sweet home",660135,Polali,NaN,5e Arrondissement,45.75930,4.82548,Entire home/apt,60,3,120,2020-09-30,5.92,1,0
4,136556,At home near Les Halles Paul Bocuse,668524,Nathalie,NaN,3e Arrondissement,45.76208,4.85327,Entire home/apt,99,3,10,2019-11-03,0.69,1,0

   listing_id        date
0       56766  2010-11-15
1       56766  2010-11-19
2       56766  2010-12-05
3       56766  2011-01-03
4       56766  2011-03-18

In [6]:
cal_start = calendar.date.min()
cal_end = calendar.date.max()

print(f'Calendar dates run from {cal_start} to {cal_end}')

Calendar dates run from 2020-10-24 to 2021-10-23

In [8]:
listings.groupby('neighbourhood').mean()['price']

neighbourhood
1er Arrondissement     96.081372
2e Arrondissement     121.348807
3e Arrondissement      88.089770
4e Arrondissement      94.040223
5e Arrondissement      91.044177
6e Arrondissement      86.877684
7e Arrondissement      77.946029
8e Arrondissement      72.534392
9e Arrondissement      78.267677
Name: price, dtype: float64